/***** GENERAL **********/
a {
	 text-decoration: none;
	 color:#2D357E;

}
#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
	background: darkgrey;
}

img{ 
	max-width: 100%
}

/*** HEADING **/
#logo { text-align: center;
margin: 0;
}

header {
	background:#202020;
	border-color:#2B0E1F;
}

h1, h2 {
	color:#C8AC31;
}

h3 {
color: #000000;
}

h4 {
color: #2D357E;
}

b {
	color:#2D357E;
}

/**NAVIGATION ***/
nav {
	background:#599a68;
}

nav a, nav a:visited
{
	color:#FFF;
}

/*cambia el color a las letras del menu */
nav a.selected {
	color: #C8AC31;
}
/* le da efecto de sombreado al menu */
nav a:hover 
{
color: #404040;
}

nav ul{ list-style: none;
	margin: 0 10px;
	padding: 0;
	text-align: center;
}

/*muestra los vinculos de navegacion de forma horizonal, el menu */
nav li {display: inline-block;
}
/*da formato a los vinculos de navegacion, el menu */
nav a {
font-weight: 800;
padding: 15px 10px;
}

/*** FOOTER ***/
/*cambia el fondo del pie de pagina de la pagina */
footer {
	background:#202020;
}
/*cambia el color del pie de pagina de la pagina */
p {
	color:#2D357E;
}

/*da formato al titulo*/
h1 { font-family: 'Roboto', sans-serif;
margin: 15px 0;
font-size: 2.00em;
font-weight: normal;
line-height: 1.3em;
}
/*da formato al subtitulo*/
h2 { 
font-size: 1.00em;
margin: -5px 0;
font-weight: normal;
}

h3 {
font-size: 1.25em;
margin: 0;
}

h4 {
font-size: 1.00em;
margin: 0;
}
/* CSS */

#galeria {margin: 0;
padding: 0;
list-style: none;
}

#galeria li { float: left;
width: 45%;
margin: 2.5;
background-color: #f5f5f5;
color: #974049;
}
#galeria li a p {margin: 0;
padding: 5%;
font-size: 0.75em;
color: #974049;
}
footer { 
	font-size: 0.60em;
	text-align: right;
	clear: both;
	padding-top: 10px;
	color: #ccc;
}
header{ float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}

.social-icon {
	width: 30px;
height: 30px;
margin: 0 5px;
}

/*******RESEÑA************/
/************************/
/*para el grafico de la pagina reseña*/
#foto {
display: block;
margin: auto;
padding: 0;
list-style: none;
max-width: 450px;
text-align: center;
}

#foto li { width: 45%;
margin: 2.5;
background-color: #f5f5f5;
color: #974049;
max-width: 300px;
}
#foto li a p {margin: 0;
padding: 5%;
font-size: 0.75em;
color: #974049;
}

/******SIMBOLO********/
/*********************/
/*para los graficos de la pagina simbolos*/
.bandera { display: block;
	max-width: 200px;
	margin: 0 auto 30px;
	float: left;
	}

.escudo { display: block;
	max-width: 150px;
	margin: 0 auto 30px;
	float: left;
	}

.columnas{
	width: 440px;
	text-align: center;
}

.pcols {
	float: center;
	width: 200px; /* 400/2 = 200 = 2 columnas ;) */
	margin-left:5px;
	padding:0px;
}
/********TURISMO**********/
/*************************/
/*para los graficos de la pagina turismo*/
/***
	.sitios { display: block;
	max-width: 300px;
	margin: 0 auto 30px;
	float: left;
	}
***/
#sitios { 
display: block;
margin: 0;
padding: 0;
list-style: none;
max-width: 450px;
}

#sitios li { 
width: 350%;
margin: 2.5;
background-color: #f5f5f5;
color: #974049;
max-width: 300px;
float: left;
}
#sitios a p {margin: 0;
padding: 5%;
font-size: 0.75em;
color: #974049;
}

/******CONTACTOS*******/
/**********************/
/*para darle los iconos a la seccion contactos */
.contact-info li.phone a{
	background-image: url('../img/fono.jpg');
}
.contact-info li.mail a{
	background-image: url('../img/email.png');
}
.contact-info li.twitter a{
	background-image: url('../img/twitter.jpg');
}
/*para centrar las imagenes de comunicacion en contacto*/
.contact-info a{ display block;
min-height: 20px;
background-repeat: no-repeat;
background-size: 20px 20px;
padding: 0 0 0 30px;
margin: 0 0 10px;
}
/*para quitar las viñetas de las imagenes de comunicacion en contacto*/
.contact-info {
padding: 0;
list-style: none;
}